[submodule "go4"]
	path = go4
	url = git@github.com:gsi-ee/go4.git
[submodule "dabc"]
	path = dabc
	url = git@github.com:gsi-ee/dabc.git
[submodule "stream"]
	path = stream
	url = git@github.com:gsi-ee/stream.git
